
<div class='card'>
    <form (ngSubmit)="AddBook()">
<div class='card-header'>
 ADD BOOK
</div>
<div class='card-body'>            
  <div class='table-responsive'>
    <table class='table'>       
    
      <tbody>  
          <tr>
              <td> <label>Book Title</label></td>
              <td><input type="text" name="booktitle" required [(ngModel)]="bookItem.booktitle"/></td>                  
            </tr>   
            <tr>
                <td><label>Book Author</label></td>
                <td><input type="text" name="bookauthor" required [(ngModel)]="bookItem.bookauthor"/></td>                  
              </tr>  
              <tr>
                <td><label>Genre</label></td>
                <td><input type="text" name="genre" required [(ngModel)]="bookItem.genre"/></td>                  
              </tr>  
              <tr>
                <td><label>Book Cover</label></td>
                <td><input type="text" name="p_image" required [(ngModel)]="bookItem.imageUrl"/></td>                  
              </tr>  
              <tr>
                <td></td>
                <td><input type="submit" value="Add" /></td>                  
              </tr>             
      </tbody>
    </table>
  </div>
</div>
</form>
</div>
