

.navbar-form input, .form-inline input {
    width:auto;
  }
  .container{display: flex;}
  
  body {
    padding-top:50px;
    color:#646464;
    background-color:#efefef;
  }
  
  h1,h2,h3,.highlight,.navbar a,#masthead h4 {
    font-family:'Oswald',arial narrow,sans-serif;
  }
  
  footer {
  
    margin-top:40px;
    padding-top:40px;
    padding-bottom:40px;
    background-color:#cecece;
   
  }
  .carousal-item{
    object-fit: cover;
  }
  
  #masthead {
    min-height:199px;
    background-color:#4d755e;
    color:#aaaacc;
  }
  
  #masthead h1 {
    font-size: 55px;
    line-height: 1;
    color:#fefeff;
    margin-top:50px;
  }
  
  
  #topPanel {
    
    padding-top:0px;
    padding-left:22px;
    padding-right:22px;
  }
  #topPanel .panel-body {
    padding-top:0px;
  }
  
  .navbar.affix {
    position:fixed;
    top:0;
    width:100%;
  }
  
  .top-spacer {
    background-color:#fff;
    min-height:3em;
    margin-top: 10px;
  }
  
  a,a:hover {
    color:#4d755e;
    text-decoration:none;
  }
  
  .icon-bar {
    background-color:#fff;
  }
  
  @media screen and (min-width: 768px) {
    #masthead h1 {
      font-size: 80px;
    }
  }
  
  .navbar-bright {
    background-color:#3d634d;
    color:#fff;
    margin-bottom: 0;
    border-width: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  
  .navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
    color:#ccccdd;
    font-size:14px;
    text-transform: uppercase;
    letter-spacing:.08em;
  }
  
  .navbar-bright li > a:hover {
    background-color:#658b76;
  }
  
  .dropdown-menu {
    min-width: 250px;
  }
  
  .caret {
    color:#fff;
  }
  
  .navbar-toggle {
    color:#fff;
    border-width:0;
  }
  
  .navbar-toggle:hover {
    background-color:#fff;
  }
  
  .panel {
    border-color:transparent;
    border-radius:0;
  }
  
  .thumbnail {
    margin-bottom:8px;
  }
  
  .img-container {
    overflow:hidden;
    height:170px;
  }
  
  .img-container img {
    min-width:280px;
    min-height:180px;
    max-width:380px;
    max-height:280px;
  }
  
  .txt-container {
    overflow:hidden;
    height:100px;
  }
  
  .panel .lead {
    overflow:hidden;
    height:90px;
  }
  
  .label-float{
    margin:0 auto;
    position: absolute;
    top: 0;
    z-index: 1;
    width:100%;
    opacity:.9;
    padding:6px;
    color:#fff;
  }
      
  .btn-twitter {background-color:#4099FF;color:#fff;}
  .btn-facebook {background-color:#3B5998;color:#fff;}
  .btn-google-plus {background-color:#d34836;color:#fff;}
  
  .btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
  .btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
  .btn-google-plus:hover {background-color:#C23836;color:#E45A58;}
  
  /*add book*/
  #head{
    text-align: center;
  }
  #btn{
    text-align: center;
    font-size: 18px;
    color: cornsilk;
    background-color: darkslategrey;
    font-weight:bold;
    margin-left: 25%;
    min-width: 80px;
    margin-top: 1px;
    margin-bottom: 20px;
  }
  #btn:hover{
    background-color: rgb(206, 206, 202);
    color: #494848;
  }
  .container1{
    display: flex;
  }
  .box1 {
    background-color:#9fbb89;
    width: 100%;
    min-height:300px;
    padding-left: 20%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .labels{
    margin-top: 5px;
    font-size: larger;
    font-weight: bold;
    width: 60%;
    height: 3%;
    padding: 8px;
  }
  #error1{
    text-align: center;
  
  }
  #error2{
    text-align: center;
  
  }
  #error3{
    text-align: center;
  
  }
  #error4{
    text-align: center;
  
  }
  .inputs{
    width: 60%;
    height: 3%;
    padding: 8px;
  }
  
  textarea{
    width: 60%;
    height: 8%;
    padding: 8px;
  }
  #emaillabel{
    margin-top: 20px;
  }
  /*signup*/
  .signuplabels{
    font-size: larger;
    text-align: center;
    margin: 10px;
    margin-left: 9%;
  }
  .signupinputs{
    width:50% ;
    padding: 6px;
    margin-left: 9%;
  }
  #signupbtn{
    text-align: center;
    font-size: 18px;
    color: cornsilk;
    background-color: darkslategrey;
    font-weight:bold;
    margin-left: 25%;
    min-width: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /*login*/
  .loginlabels{
    font-size: larger;
    text-align: center;
    margin: 10px;
    margin-left: 9%;
  }
  .logininputs{
    width:50% ;
    padding: 6px;
    margin-left: 9%;
  }
  #error1{
    margin-left: 2%;
  }
  #error2{
    margin-left: 2%;
  }
  #error3{
    margin-left: 2%;
  }
  #error4{
    margin-left: 2%;
  }
  #error5{
    margin-left: 2%;
  }
  #error6{
    margin-left: 2%;
  }
  .errors{
    margin-left: 10%;
  }
  /*images*/
  .images{
    width: 30%;
    height: 450px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 25px;
  }
  #frstimg{
    margin-left: 3%;
  }
  
  /*logout button update and delete button*/
  #logoutbtn{
    margin-left: 10%;
    margin-top: 12px;
    background-color: dimgrey;
  }
  #update{
    margin-top: 10px;
    background-color: #3d634d;
    color: #cfdad3;
    font-size: medium;
  }
  #delete{
    margin-top: 10px;
    background-color: #3d634d;
    color: #cfdad3;
    font-size: medium;
    width:10%;
  }